# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for instrumentation/coverage reports
coverage

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Build output
dist/
build/

# OS specific files
.DS_Store
Thumbs.db